
<ion-content>
<div class="main-container-div">
  <!-- <ion-button slot="start" class="menu-btn"> -->
    <!-- <ion-menu-button color="ligth"></ion-menu-button> -->
    <ion-icon routerLink="/login" class="menu-btn" name="exit-outline"></ion-icon>
  <!-- </ion-button> -->

  <div class="user-div">
      <div class="first-div" slot="end" >
        <ion-label class="welcome"></ion-label>
        <ion-label class="name"></ion-label>
      </div>
      <img src="assets/img/icono-travel.png">
  </div>

  <div class="content-div animated bounceInUp" >
    <ion-label class="hello">Hola,Selecciona un servicio </ion-label>

    <ion-grid fixed>
      <ion-row>

        <ion-col  size="12" (click)="goToSubject(subjects1)" >
          <div  class="col-div" *ngIf="subjects1.name === 'Servicio de taxis'">
            <img src="{{subjects1.icon}}" >
            <ion-label>{{subjects1.name}}</ion-label>
          </div>
        </ion-col>

        <ion-col size="6" (click)="goToSubject(subjects2)">
          <div  class="col-div" *ngIf="subjects2.name !== 'Servicio de taxis'">
            <img src="{{subjects2.icon}}" >
            <ion-label>{{subjects2.name}}</ion-label>
          </div>
        </ion-col>

        <ion-col size="6" (click)="goToSubject(subjects3)">
          <div  class="col-div" *ngIf="subjects3.name !== 'Servicio de taxis'">
            <img src="{{subjects3.icon}}" >
            <ion-label>{{subjects3.name}}</ion-label>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</div>
</ion-content>
