<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/principal">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/logotipo-travel.png" />
  </div>

  <div id="contac">
    <ion-row>
      <ion-col size="8" offset="1">
        <div>
          <h1 class="titulo">Contactar<br> con soporte</h1>
        </div>
      </ion-col>
      <ion-col size="2" >
        <div>
          <ion-icon name="umbrella-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="form">
    <div [formGroup]="credentialForm">
      <ion-item color="ion-color-secondary-rgb" class="ion-margin-bottom" lines="none">
        <ion-input 
          type="text"
          placeholder="{{'Titulo'}}"
          formControlName="vrtitle"
          autofocus="true"
          clearInput="true"
          required>
        </ion-input>
      </ion-item>

      <ion-textarea  
        formControlName="description" 
        name="description" 
        color="ion-color-secondary-rgb" 
        class="ion-margin-bottom" 
        class="ion-text-area" 
        rows="6" 
        cols="20" 
        placeholder="  Descripcción..."
        autofocus="true"
        clearInput="true"
        required></ion-textarea>
      
        <app-button  (click)="sendPQRS()" texto="Iniciar sesión"></app-button>
    </div>

  </div>
</ion-content>

