<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
   <ion-buttons slot="start">
      <ion-button routerLink="/menu-principal" color="white">
       <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
   </ion-buttons>
   <ion-buttons slot="end">
   </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isDeliveryDataLoad && !isClicked">
  <div #map class="map">
    

  </div> 

</ion-content>


<div class="div-container" *ngIf="!isDeliveryDataLoad && !isClicked">
  <div class="inpu-container">
    <input class="input-class" placeholder="Ingresa dirección" type="text">
  </div>

  <div class="div-style">

    <div class="icon-container">
      <ion-icon class="icono" name="locate"></ion-icon>
    </div>

    <div class="label-container" (click)="aceptar()">
      <label>Solicitar</label>
    </div>

  </div>
</div>

  <ion-content *ngIf="!isDeliveryDataLoad && isClicked">
    <!-- <div *ngIf="!isDeliveryDataLoad && isClicked"> -->
      <ion-card class="card-container">   
              <div class="div-container-loading">
                <div>
                  <label>Esperando ...</label>
                </div>
              </div>
              <div class="button-container">
                <ion-button (click)="cancelarPedido()" slot="end" class="button-style"  expand="full"  shape="round">
                  Cancelar
                </ion-button>
              </div>
      </ion-card>
  </ion-content>

  <ion-content *ngIf="isDeliveryDataLoad && isClicked">
    <!-- <div *ngIf="!isDeliveryDataLoad && isClicked"> -->
      <ion-card class="card-container">
            
              <div class="div-container-loading">
                <div>
                  <label>INFO CONDUCTOR ...</label>
                </div>
              </div>


              <div class="button-container">
                <ion-button (click)="cancelarPedido()" slot="end" class="button-style"  expand="full"  shape="round">
                  Cancelar
                </ion-button>
              </div>
      </ion-card>
  </ion-content>

  <div class="div-container" *ngIf="isDeliveryDataLoad && isClicked">
    <div class="inpu-container">
      <input class="input-class" placeholder="Ingresa dirección" type="text">
    </div>
  
    <div class="div-style">
  
      <div class="icon-container">
        <ion-icon class="icono" name="locate"></ion-icon>
      </div>
  
      <div class="label-container">
        <label>Solicitar</label>
      </div>
  
    </div>
  </div>

<!-- <div #map class="map">
</div>  -->
<!-- <div id="map">
  
</div> -->

<!-- <form id="form">
  <h3 class="regular">Dirección</h3>
  <app-input placeholder="Ingresa dirección"></app-input>
  <app-button  (click)="aceptar()" texto="Realizar pedido" class="aceptar"></app-button>
</form>
<div class="container">
  <ion-button id="miubicacion" class="regular" expand="block" shape="round" fill="outline" (click)="myLocation()" >
    Mi ubicación actual
  <ion-icon class="icono" name="locate"></ion-icon>
  </ion-button>
</div> -->


