<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
   <ion-buttons slot="start">
      <ion-button routerLink="/menu-principañ" color="primary">
       <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
   </ion-buttons>
   <ion-buttons slot="end">
   </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map class="map">
  </div> 


  
</ion-content>
<div>
  <!-- <app-input placeholder="Ingresa dirección"></app-input> -->
  <input placeholder="Ingresa dirección" type="text">
  <div class="div-style">
    <!-- <ion-button id="miubicacion" class="regular" expand="block"  fill="outline" (click)="myLocation()" >
    <ion-icon class="icono" name="locate"></ion-icon>
    </ion-button>
    <app-button  (click)="aceptar()" texto="Solicitar" class="aceptar"></app-button> -->
    <div>
      <ion-icon class="icono" name="locate"></ion-icon>
    </div>
    <div>
      <label>Solicitar</label>
    </div>
  </div>
</div>
<!-- <div #map class="map">
</div>  -->
<!-- <div id="map">
  
</div> -->

<!-- <form id="form">
  <h3 class="regular">Dirección</h3>
  <app-input placeholder="Ingresa dirección"></app-input>
  <app-button  (click)="aceptar()" texto="Realizar pedido" class="aceptar"></app-button>
</form>
<div class="container">
  <ion-button id="miubicacion" class="regular" expand="block" shape="round" fill="outline" (click)="myLocation()" >
    Mi ubicación actual
  <ion-icon class="icono" name="locate"></ion-icon>
  </ion-button>
</div> -->


